<p>Ingresa tus credenciales</p>

<form action="/login" method="post">
    <div>
        <label for="username">Usuario</label>
        <input id="username" type="text" name="username">
    </div>
    <div>

    </div>
    <button></button>
</form>